@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* container
pixel é fixo - não muda será esse valor sempre
% - é uma medida mais flexível - precisa se orientar por alguém
div container é uma div que descende do body - pai é o body - medida relativa - cria uma relação com o elemento pai
*/

body{
  font-family: 'Lato', sans-serif;
  background-color: rgb(0, 0, 0);
}

h1{
  color: #FFFFFF;
}

.container{
  width: 80%;
  height: auto;
  /* centralizamos o container usando margin, nesse caso a primeira medida foi para margem top/bottom - segunda medida right/left(segunda medida foi a palavra reservada auto) - automático */
  margin: 10px auto;
  /* border: 1px solid #000; */
}

.robot{
  /* cor de fundo  */
  background: rgb(170, 177, 196);
  width: 100%;
  height: auto;
  margin: 30px 0;
  padding: 20px;
  box-sizing: border-box;
  /* centralizar todo o conteúdo do container */
  text-align: center;
}

/* formata apenas os elementos h2 que estão dentro de um container com a classe robot */
.robot h2{
    font-size: 40px;
    color: rgb(38, 66, 64);
}

.robot p{
  text-align: justify;
  font-size: 18px;
  line-height: 30px;
  padding: 10px;
  box-sizing: border-box;
}

.robot a{
  /* sublinhado do link - underline - overline line-through - none*/
  text-decoration: none;
  /* peso da fonte (grossura) - 100 - 900 - pulando de 100 em 100 - palavras reservadas */
  font-weight: 900;
  color: rgb(38, 66, 64);
  border: 1px solid rgb(38, 66, 64);
  padding: 10px 40px;
  box-sizing: border-box;
  /* arredondamento da borda */
  border-radius: 5px;
}

/* a formatação será aplicada quando passar o mouse sobre esses links */
.robot a:hover{
  background: rgb(38, 66, 64);
  color: #fff;
}
